---
export interface Props {
  label?: string
  name: string
  placeholder?: string
}

const { label, name, placeholder } = Astro.props;
---

<label
  class='block my-2 ml-3'
  for={name}>
  {label}
</label>
<input
  class="drop-shadow-xl rounded-3xl w-full py-3 px-3 focus:outline-none"
  id={name}
  name={name}
  placeholder={placeholder}
  type="text" />

<style>
input {
    border-style: solid;
    border-width: 1px;
    border-color: #F1F1F1;
}
</style>
