---
import { Image } from "@astrojs/image/components";
import type { AvailableEvents } from "../../features/events";
import CTA from "../CTA/CTA.astro";
import Circle from "../svg/Circle.astro";
import Dots from "../svg/Dots.astro";
import Polygon from "../svg/Polygon.astro";


export interface Props {
  title: string
  description: string
  image: string
  cta: string
  ctaEvent: AvailableEvents
}

const {
  title,
  description,
  image,
  cta,
  ctaEvent,
} = Astro.props;
---

<section
  class="relative container grid grid-rows-1 grid-cols-1 md:grid-cols-2"
  id="hero">

    <!-- TEXT -->
    <div class="flex flex-col justify-center md:pr-20">
      <CTA
        buttonEvent={ctaEvent}
        buttonText={cta}
        description={description}
        title={title}
      />
    </div>
    <!-- END TEXT -->

    <Dots />

    <!-- IMAGE -->
    <div class="relative md:ml-2 mr-[-1.5rem]">
      <div class="rounded-es-[100px] overflow-hidden">
        <Image
          alt="Unleash your potential"
          class={"float-right"}
          format="webp"
          height={480}
          src={image}
          width={714}
        />
      </div>
      <div
        class={"fill-gust absolute flex z-[-1] " +
                "top-[-64px] right-0 " +
                "md:top-0 md:left-[-64px] md:right-auto " +
                "lg:top-0"}>
        <Circle />
      </div>
      <div
        class={"fill-rameo absolute z-[-1] " +
                "bottom-[-48px] right-6 " +
                "md:bottom-0 " +
                "lg:right-4"}>
        <Polygon />
      </div>
    </div>
    <!-- END IMAGE -->

</section>
